<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceOnset" type="Xeno.Prodika.XML.XMLMergeConfigHandler,ServiceOnset" />
  </configSections>
  <serviceOnset>
    <settings>
      <logDirectory value="" />
    </settings>
    <services>
      <service command="cmd" arguments="" initialDirectory="" />
    </services>
  </serviceOnset>
</configuration>