<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceOnset" type="Xeno.Prodika.XML.XMLMergeConfigHandler,ServiceOnset" />
  </configSections>
  <ServiceOnset>
    <appSettings>
      <Interval value="23" />
    </appSettings>
    <services>
      <service command="cmd" argument="" directory="" />
    </services>
  </ServiceOnset>
</configuration>